<mat-toolbar>
  <button aria-label="Example icon-button with menu icon" class="example-icon" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Welcome to the {{ title }}</span>
  <span class="example-spacer"></span>
  <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon" mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button aria-label="Example icon-button with share icon" class="example-icon" mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div>
  <h1>Éternel est bon</h1>
</div>

<app-market-list></app-market-list>

<router-outlet></router-outlet>
