table {
  min-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 900;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

//td, th {
//  width: 25%;
//}

.customImg {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
