<mat-card class="mat-elevation-z18">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput placeholder="Ex. Nio">
  </mat-form-field>

  <table [dataSource]="markets"
         class="mat-elevation-z18"
         mat-table matSort
         multiTemplateDataRows>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> No.</th>
      <td *matCellDef="let element" mat-cell> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Name</th>
      <td *matCellDef="let element" mat-cell>
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5%">
          <img alt="{{element.name}}" class="customImg" src="{{element.giphyUrl}}">
          <span fxFlex>{{element.name}}</span>
        </div>
      </td>
    </ng-container>

    <!-- Change Column -->
    <ng-container matColumnDef="change">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Change</th>
      <td *matCellDef="let element" mat-cell> {{element.change}} </td>
    </ng-container>

    <!-- Sell Column -->
    <ng-container matColumnDef="sell">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Sell</th>
      <td *matCellDef="let element" mat-cell> {{element.sell}} </td>
    </ng-container>

    <!-- Buy Column -->
    <ng-container matColumnDef="buy">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Buy</th>
      <td *matCellDef="let element" mat-cell> {{element.buy}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button #tooltip="matTooltip" [routerLink]="['market/edit', element.name]" class="example-icon-bis" mat-button
                  matTooltip="Edit this market"
                  matTooltipPosition="above">
            <mat-icon>create</mat-icon>
          </button>
          <button #tooltip="matTooltip" (click)="deleteMarket(element.id)" class="example-icon-bis" mat-button
                  matTooltip="Remove this market"
                  matTooltipPosition="above">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

  </table>

  <mat-toolbar class="customToolbar mat-elevation-z18">
    <mat-toolbar-row class="customRow">
      <button #tooltip="matTooltip" [routerLink]="['market/add']" class="example-icon" mat-button
              matTooltip="Add another market"
              matTooltipPosition="above">
        <mat-icon>add</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button #tooltip="matTooltip" (click)="deleteAllMarket()" class="example-icon" mat-button
              matTooltip="Remove all market"
              matTooltipPosition="above">
        <mat-icon>remove</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        class="customPagination">
      </mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</mat-card>

