mat-card {
  min-width: 80%;
  margin: 1% 5% 1%;
  font-weight: 900;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.customImg {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.customButton {
  width: 30%;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  height: 100% !important;
}

.customPagination {
  width: 90%;
}

.customRow {
  width: 100%;
  padding: 0;
}

.customToolbar {
  margin: 1% auto;
  border-color: white;
  background-color: white;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding: unset !important;
  height: 50%;
}

tr.mat-row, tr.mat-footer-row {
  height: 58px !important;
}

.example-icon-bis {
  height: 58px !important;
}
