mat-card {
  min-width: 80%;
  margin: 5% 10% 1%;
  font-weight: 900;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 24px;
  width: 100%;
}

.customImg {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

th.mat-sort-header-sorted {
  color: black;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  //display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.customButton {
  width: 30%;
}


.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  width: 20%;
  height: 100%;
}
.customPagination {
  width: 80%;
}

.customRow {
  width: 100%;
  padding: 0;
}

.customToolbar {
  margin: 1% auto;
  border-color: white;
}
