mat-card {
  margin: 2% 30% 2%;
  text-align: center;
}

mat-card-header {
  display: unset;
  margin: 5%;
  flex-direction: row;
}

mat-form-field {
  width: 100%;
  text-align: center;
}

form {
  margin: 25%;
}

img {
  width: 50%;
  margin-bottom: 5%;
}
