.globalMarketForm {
  min-height: 360px;
  max-width: 1200px;
  margin: 1% 8% 1%;
  text-align: center;
}

.example-form {
  margin: 10%;
}

.example-full-width {
  width: 100%;
}

.customTitle {
  margin-top: 10%;
  font-weight: 900;
}


.giphy {
  width: 340px !important;
  height: 210px !important;
  margin-bottom: 5%;
}
